<!DOCTYPE html>
<html>
    <head>
        <title>
            CRUD TEST
        </title>
    </head>

    <body>
        <h1>
            CRUD TEST PAGE
        </h1>

        <!-- 네이비게이션 바 -->
        <!-- <nav> -->
        <!-- 클릭을 통한 페이지 이동 (a) -->
        <!-- link는 href -->
        <h2>
            <a href="./create.html">Create Test</a>
            <br>
            <a href="./read.html">Read Test</a>
            <br>
            <a href="./update.html">Update Test</a>
            <br>
            <a href="./delete.html">Delete Test</a>    
        </h2>
        <!-- </nav> -->
        <hr/>
    </body>
</html>